.flex-grid {
    display: flex;
    flex-flow: wrap;
  }
  
  .col-x {flex: 0 0 13%}
  .col-1 {flex: 0 0 8.3333%}
  .col-2 {flex: 0 0 16.6666%}
  .col-3 {flex: 0 0 25%}
  .col-4 {flex: 0 0 33.3333%}
  .col-5 {flex: 0 0 41.6666%}
  .col-6 {flex: 0 0 50%}
  .col-7 {flex: 0 0 58.3333%}
  .col-8 {flex: 0 0 66.6666%}
  .col-9 {flex: 0 0 75%}
  .col-10 {flex: 0 0 83.3333%}
  .col-11 {flex: 0 0 91.6666%}
  .col-12 {flex: 0 0 100%}
  
