.DateButton {
    font-size: small;
    font-weight: 600;
    background-color: white;
    font-family: 'QuickSand';
    color:black;
    border-radius: 100%;
    border: 0px;
    width: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DateButton:hover {
    background-color: rgb(247, 246, 246);
    color:black;
}
.previous-button {
    color: rgb(200, 200, 200) !important;
}

.next-button {
    color: rgb(200, 200, 200) !important;
}
.current-date-button {
    background-color: #7367F0;
    color: white;
    transition: all 0.3s;
}
.DarkDateButton {
    font-size: small;
    font-weight: 600;
    font-family: 'QuickSand';
    border-radius: 100%;
    border: 0px;
    width: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    transition: all 0.3s;
    background-color: #212121;
    color: white;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DarkDateButton:hover {
    background-color: #535353;
    color: white;
}
.current-dark-date-button{
    background-color: #1DB954;
    color: white;
    transition: all 0.3s;
}
.current-dark-date-button:hover{
    color: white;
}
.previous-button-dark{
    color:#B3B3B3;
}
.next-button-dark{
    color:#B3B3B3;
}
.DateButton.customDate {
    color:#7367F0;
}
.DarkDateButton.customDate {
    color:#1DB954;
}
.button-dot.dark {
    background-color:var(--secondary-color);
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: 5px;
    border-radius: 100%;
}
.button-dot.light {
    background-color:var(--primary-color);
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: 5px;
    border-radius: 100%;
}