.DateButton {
    font-size: small;
    font-weight: 600;
    background-color: white;
    font-family: 'QuickSand';
    color:black;
    border-radius: 100%;
    border: 0px;
    width: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    transition: all 0.3s;
}
.DateButton:hover {
    background-color: rgb(247, 246, 246);
    color:black;
}
.previous-button {
    color: rgb(200, 200, 200) !important;
}

.next-button {
    color: rgb(200, 200, 200) !important;
}
.current-date-button {
    background-color: #7367F0;
    color: white;
    transition: all 0.3s;
}