.schedule {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-width: 100% !important;
    padding:20px 14px;
    border-radius: 4px;
}
.schedule-box {
    font-family: 'QuickSand';
    max-width: 450px;
}
.date-button-container {
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.animate-next {
    animation: slide-appear-next 1s;
}
.animate-prev {
    animation: slide-appear-prev 1s;
}
@keyframes slide-appear-next {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        transform: translateX(-80%);
        opacity: 0;
    }
    75% {
        transform: translateX(80%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-appear-prev {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    25% {
        transform: translateX(80%);
        opacity: 0;
    }
    50% {
        transform: translateX(-80%);
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}