.schedule {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-width: 100% !important;
    padding:20px 14px;
    border-radius: 4px;
}
.schedule-box {
    font-family: 'QuickSand';
    max-width: 450px;
    position: relative;
}
.date-button-container {
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    position: relative;
}
.animate-next {
    animation: slide-appear-next ease 1s forwards;
}
.animate-prev {
    animation: slide-appear-prev ease 1s forwards;
}

@keyframes slide-appear-next {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    10% {
      opacity: 0;
    }
    50% {
        transform: translateX(-80%);
        opacity: 0;
    }
    75% {
        transform: translateX(80%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-appear-prev {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    10% {
      opacity: 0;
    }
    25% {
        transform: translateX(80%);
        opacity: 0;
    }
    50% {
        transform: translateX(-80%);
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.dark-box {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
  }
  
  .dark-box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #212121;
    border-radius: 50%;
    opacity: 0;
    animation: circle-dark 0.3s linear forwards;
  }
  
  @keyframes circle-dark {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      width: 300%;
      height: 300%;
      background-color: #212121;
    }
  }

  .light-box {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
  }
  
  .light-box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #212121;
    border-radius: 50%;
    opacity: 0;
    animation: circle-light 0.3s linear forwards;
  }
  
  @keyframes circle-light {
    0% {
        opacity: 1;
        width: 300%;
        height: 300%;
        background-color: #212121;
        
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        width: 0;
        height: 0;
      }
  }